*{
    margin: 0px;
    padding: 0px;
    opacity: 1;
}
.main{
    width: 100%;
    height:1163px;
    background-color: black;
}
.main-header{
    width: 100%;
    height:1050px;
    background-image:linear-gradient(to bottom, rgba(53, 53, 53, 0.59), rgb(0, 0, 0)),
    url('../images/main-cover.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.logo-main{
    width:470px;
    height: 127px;
    display: flex;
    position: absolute;
    top: 50px;

}
.logo{
    width: 100px;
    height: 100px;
    background-image: url("../images/fast-delivery.png");
    background-size: contain;
    position: absolute;
    top:4px;
    left:298px;
     
}
.logo-txt{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.span-txt{
    color: white;
    font-weight: bolder;
    font-size: 40px;
    border-bottom: 3px solid ;

}
.reg{
    width:200px;
    height: 100px;
    float: right;
    position: relative;
    top: 100px;
    right: 117px;
    color: white;
    
}
.log-in{
    margin-right: 10px;
    font-size: 25px;
    border-right: 5px solid black;
    padding-right:22px ;
    color: white;
    border-bottom: 5px solid transparent;

}
.sign-up{
    margin-right: 10px;
    font-size: 25px;
    color: white;
    border-bottom: 5px solid transparent;

}
.nav-main{
    width:400px;
    height: 560px;
   
    position: absolute;
    top:300px;
    left: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;

}
.home{

    width:300px;
    height: 50px;
    display: flex;
    align-items: center;
   
   


}
.categories{
  
    width:300px;
    height: 50px;
    display: flex;
    align-items: center;
  


}
.restorent{
   
    width:300px;
    height: 50px;
    display: flex;
    align-items: center;
   



}
.cart{
  
    width:300px;
    height: 50px;
    display: flex;
    align-items: center;
    



}
.nav{
    font-size: 30px;
    color: white;
    border-bottom: 5px solid transparent;

}
.nav:hover{
    color: rgb(250, 229, 0);
    border-bottom: 5px solid rgb(250, 229, 0) ;

}
.log-in:hover{
    color: rgb(250, 229, 0);
    border-bottom: 5px solid rgb(250, 229, 0) 
}
.sign-up:hover{
    color: rgb(250, 229, 0);
    border-bottom: 5px solid rgb(250, 229, 0)
 }
 .item-container{
    width: 75%;
    height: 860px;
    background-color: white;
    position: relative;
    top: 210px;
    right: 200px;
    left: 480px;
    
    border-radius: 20px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}
 .item-1{
    width:400px;
    height: 725px;
    background-color: rgb(0, 0, 0);
    outline: 6px solid white;
    border-radius: 50px 50px;

 }
 .item-2{
    width:400px;
    height: 725px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px 50px;

 }
 .item-3{
    width:400px;
    height: 725px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px 50px;

 }
 .item-4{
    width:400px;
    height: 725px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px 50px;

 }
 .burger{
    width: 300px;
    height: 250px;
    background-image: url("/images/download.jfif");
    background-repeat:no-repeat ;
    background-size: cover;
    opacity: 1;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-left: 46px;
    border-radius: 50px;
 }
 .pizza{
    width: 300px;
    height: 250px;
    background-image: url("/images/pizza.jfif");
    background-repeat:no-repeat ;
    background-size: cover;
    opacity: 1;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-left: 46px;
    border-radius: 50px;
 }
 .masala{
    width: 300px;
    height: 250px;
    background-image: url("/images/mazaladhosa.jfif");
    background-repeat:no-repeat ;
    background-size: cover;
    opacity: 1;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-left: 46px;
    border-radius: 50px;
 }
 .biriani{
    width: 300px;
    height: 250px;
    background-image: url("/images/Chicken\ Biryani.jfif");
    background-repeat:no-repeat ;
    background-size: cover;
    opacity: 1;
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-left: 46px;
    border-radius: 50px;
 }
 h3{
    color:white;
    text-align: center;
    margin: 50px;
 }
 h1{
    color: white;
    text-align: center;
    margin: 22px;
 }
 .read-more{
    width: 300px;
    height: 65px;
    align-items: center;
    border-radius: 50px;
    margin-left: 46px;
    
 }




  
  
   
   
